.BollywoodFlex{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    cursor: pointer;
}
.movieListFlex{
display: flex;
gap: 20px;
}
.image{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    -webkit-box-shadow: 2px 6px 17px -3px rgba(0,0,0,0.56);
    -moz-box-shadow: 2px 6px 17px -3px rgba(0,0,0,0.56);
    box-shadow: 2px 6px 17px -3px rgba(0,0,0,0.56);
    
}
.image2b{
    height: 90px;
    width: 60px;
}
.margin{
    margin: 20px;
}
.topPostListb{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: right;
    cursor: pointer;
}
.bollywoodList{
  margin: 20px;
}
.bigFlex{
    display: flex;
    flex-wrap: nowrap;
}
.topFlex{
    display: flex;
    flex-direction: column;
}
.Advertisementb{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREB_yx2efmISGuSwVLCw1iFZUGMbghtmVB09IV6qIiSCBaTDvh-Q7XU5PUJhlnBHk0FYU&usqp=CAU);
  width: 200px;
  height: 1300px;
  background-size: contain;
}
.pageName{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 5px 8px rgba(179,151,106,0.82);
 color: rgb(66, 22, 6);
 text-decoration: underline;
 text-underline-offset:10px;
}
h3{
    color:#042047;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.review{
    color: rgb(75, 63, 5);
    font-family: sans-serif;
}
.rating{
    color: #1b1b01;
    font-weight: bold;
    font-size: 15px;
}
.rateb{
    font-size: 12px;
}
.dateb{
    font-size: 9px;
}
.topimghead{
    text-align: right;
}
@media screen and (max-width:768px) {
    .bigFlex{
        flex-direction: column;
    }
    .topFlex{
        flex-direction: row;
    }
    .bollywoodList{
        margin: 2px;
    }
}